{% extends 'base.html' %}

{% block title %} register {% endblock %}

{% block content %}

    <h2>Register here please!</h2>

    <form method="post">
        <label for="username">Username</label>
        <br>
        <input type="text", name = 'username'>
        <br>
        <label for="password">Password</label>
        <br>
        <input type="text" name="password">
        <br>
        <button type="submit">Submit</button>
    </form>

    {% if error %}
    <p>{{ error }} please go back to <a href=" {{ url_for('login') }}">login</a>page</p>
    {% endif %}

    {% if message %}
    <p>{{ message }} please go back to <a href=" {{ url_for('login') }}">login</a>page</p>
    {% endif %}

{% endblock %}