{% macro post_view(post_id , title="Nothing to show sorry!", content=none, full_view = False) %}

<div class="card text-center mb-3">
  <div class="card-body">
    
    <h5 class="card-title">{{ title }}</h5>
    
    {% if content %}

      {% if full_view %}

        <p class="card-text">{{ content }}</p>

        {% else %}

          <p class="card-text">{{ content[:40] }}</p>
          <a href="{{ url_for('posts.view_posts', post_id = post_id) }}" class="btn btn-primary">Read more</a>

        {% endif %}
    
      {% endif %}


    </div>
</div>

{% endmacro %}