<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - ToDo app</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>
<div class="dashboard-container">
    <header>
        <h1>Welcome, {{ username }}!</h1>
        <a href="/logout">Logout</a>
    </header>

    <section class="add-task-section">
        <input type="text" id="task-input" placeholder="What needs to be done?">
        <button id="add-btn">Add Task</button>
    </section>

    <section class="list-section">
        <h3>Your To-Do List</h3>
        <div id="task-list">
        </div>
    </section>
</div>

    <script src="{{ url_for('static', filename='js/main.js') }}" type="module"></script>
</body>
</html>